<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    <style>
        .homepage {
            background-color: rgb(56, 57, 54);
        }
    </style>
    <div class="homepage p-20 h-[100vh] w-[100vw] flex flex-col items-center justify-center space-y-10 overflow-hidden">
        <h1 class="text-6xl font-bold text-white">CHESS GAME</h1>
        <div class=" flex flex-wrap lg:space-x-[20vw] space-y-10  items-center justify-center ">
            <img src="../assets/image.png" class="h-[50vh] w-[50vw] object-cover " alt="">
            <button onclick="window.location.href='/play'"
                class=" bg-green-300 rounded-md px-10 py-5 cursor-pointer hover:scale-105 duration-300 hover:border-5 border-green-500"><span>Play</span></button>
        </div>
        <button onclick="window.location.href='/createlink'"
            class="bg-blue-300 rounded-md px-10 py-5 cursor-pointer hover:scale-105 duration-300 hover:border-5 border-blue-500">
            <span>Create Private Game</span>
        </button>
    </div>
</body>

</html>