<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chess.com</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style>
    body {
      background-color: #1e1e1e;
      overflow: hidden;
      font-family: Arial, sans-serif;
    }

    .chessboard {
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      grid-template-rows: repeat(8, minmax(0, 1fr));
      width: 400px;
      height: 400px;
      transform: rotate(0deg);
    }

    .piece.white {
      color: white;
      filter: drop-shadow(0 0 2px black);
    }

    .flipped {
      transform: rotate(180deg);
    }

    .square {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .square.light {
      background-color: #f0d9b5;
    }

    .square.dark {
      background-color: #b58863;
    }

    .piece {
      font-size: 33px;
      cursor: pointer;
    }

    .piece.draggable {
      cursor: grab;
    }

    .dragging {
      opacity: 0.5;
    }

    .flipped .piece {
      transform: rotate(180deg);
    }

    .timer1 {
      font-size: 2rem;
      background-color: white;
      text-align: center;
      padding: 20px;
      width: 300px;
      height: 50px;
    }

    .timer2 {
      font-size: 2rem;
      background-color: white;
      text-align: center;
      padding: 20px;
      width: 300px;
      height: 50px;
    }
  </style>
</head>

<body>
  <div class="w-[100vw] h-[100vh] flex items-center justify-center flex-col relative bg-zinc-900 gap-8">
    <div class="player1 h-[10vh] h-[10vh]  w-[400px] relative flex items-center gap-3">
      <div class="square h-[2vw] w-[2vw]  left-0 top-0 rounded-full border-2 flex border-green-500 bg-white ">

      </div>
    </div>
    <div class="chessboard bg-red-800 "></div>
    <div class="player2 h-[10vh]  w-[400px] relative flex items-center gap-3">
      <div class="square h-[2vw] w-[2vw]  left-0 top-0 rounded-full border-2 flex border-green-500 bg-white ">
        <div id="app" class="h-full w-full "></div>
      </div>
      <% if (user) { %>
        <div class="">
          <p class="font-bold text-white">
            <%= user.firstName %>
              <%= user.lastName || '' %>
          </p>
        </div>
        <% } %>
    </div>
    <!-- <div class="timer1">Black: 5:00</div>
    <div class="timer2">White: 5:00</div> -->
    <button id="copyLinkBtn"
      class="bg-blue-500 absolute top-4 right-4 cursor-pointer hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Share Game Link
    </button>
  </div>

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
    integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const urlParts = window.location.pathname.split('/');
    const roomId = urlParts.length > 2 ? urlParts[2] : null;

    window.socket = io({
      query: {
        roomId: roomId
      }
    })

    document.getElementById('copyLinkBtn').addEventListener('click', function () {
      navigator.clipboard.writeText(window.location.href)
        .then(() => {
          alert('Game link copied to clipboard!');
        })
        .catch(err => {
          console.error('Failed to copy: ', err);
        });
    })
  </script>

  <script src="/js/chessgame.js"></script>
  <script src="/js/timer.js"></script>
  <script async crossorigin="anonymous" data-clerk-publishable-key="<%= process.env.CLERK_PUBLISHABLE_KEY %>"
    src="https://cdn.jsdelivr.net/npm/@clerk/clerk-js@latest/dist/clerk.browser.js" type="text/javascript"></script>
  <script src="../js/userbutton.js"></script>

</body>

</html>